.form-floating > label {
  opacity: 0.6;
}

input[type="file"] {
  padding: 2.25rem 1.5rem !important;
}

.custom-radio {
  display: inline-block;

  input[type="radio"] {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;

    &:checked + label {
      opacity: 1;
      box-shadow: 0 0 0 0.25rem rgba(11, 90, 208, 0.4);
    }
  }

  label {
    border: 1px solid transparent;
    border-radius: 50%;
    opacity: 0.5;
    padding-bottom: 0;
    cursor: pointer;
  }
}

.colors {
  padding-top: 2.25rem !important;
  padding-bottom: 0.5rem !important;
  height: auto !important;

  &:focus-within {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

.token-textarea {
  min-height: 8rem !important;
  resize: none;

  + label {
    z-index: 3;
  }

  &__icons {
    height: 8rem;
    padding: 0.5rem;
    overflow: hidden auto;
    align-items: flex-start;
    background-color: #fff;
    z-index: 1;

    button {
      display: block;
      background: unset;
      border: 0 none;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    &:focus-within {
      border-color: #86b7fe;
      box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }
  }
}

.token-preview {
  position: sticky;
  top: 3rem !important;
}
