.sheet {
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax($token-minimal-width, $token-minimal-width));
  grid-gap: 2mm 0.25mm;

  @media screen {
    grid-gap: 5mm;
    margin-top: 3rem;
  }
}
