$token-minimal-width: 63mm;
$token-minimal-height: 88mm;
$token-minimal-font-family: 'Neucha';
$token-minimal-font-family-weight: 400;
$token-minimal-color: #000;
$token-minimal-background: rgba(240, 240, 240, 0.8);
