@import "normalize";
@import "variables";
@import "controls";
@import "sheet";

@import url('https://fonts.googleapis.com/css2?family=#{$token-font-family}:wght@#{$token-font-family-weight}&display=swap" rel="stylesheet');

@page {
  size: "A4";
}

* > *, *:before, *:after {
	box-sizing: border-box;
}

body {
  @media screen {
		padding: 50px;
	}
}
